<h2>Articles show page</h2>

<p><strong>Title: </strong><%= @article.title %></p>
<p><strong>Description: </strong><%= @article.description %></p>
<p>
  <%= link_to gravatar_for(@article.user), user_path(@article.user) %>
  <strong>Author: </strong><%= @article.user.username if @article.user %>
</p>

<% if @article.categories.any? %>
  <%= render @article.categories %>
<% end %>

<% if logged_in? && (@article.user == current_user || current_user.admin?) %>
  <%= link_to 'Edit', edit_article_path(@article) %> |
  <%= link_to 'Delete', article_path(@article), data: { 'turbo-method': :delete, turbo_confirm: 'You sure?' } %> |
<% end %>
<%= link_to 'Return to articles listing', articles_path %>