<h2>Categories Listing</h2>

<div class="apple_pagination">
    <%= will_paginate @categories, :container => false %>
</div>

<table>
  <thead>
    <tr>
      <th>Category Name</th>
      <th>Created</th>
      <th>Updated</th>
      <th>Article Count</th>
    </tr>
  </thead>
  <tbody>
  <% @categories.each do |category| %>
      <tr>
        <td><%= link_to category.name, category_path(category) %></td>
        <td>Created <%= time_ago_in_words(category.created_at)  %></td>
        <td>Edited <%= time_ago_in_words(category.updated_at)  %></td>
        <td><%= pluralize(category.articles.count, 'article') %></td>
    </tr>
  <% end%>
  </tbody>
</table>